@model HierarchicalDirectoryStructure.Models.DisplayDirectory

@{
    ViewData["Title"] = $"Directory '{@Model.Name}'";
}

<h1>Directory "@Model.Name"</h1>

@if (Model.Children.Count > 0)
{
    <h2 class="if-not-empty-h2">Subdirectories</h2>
    <ul>
        @foreach (var child in Model.Children)
        {
            <li><a href="@Url.Action("Index", "Directory", new { directoryName = child.Name })">@child.Name</a></li>
        }
    </ul>
}
else
{
    <h2 class="if-empty">That directory is empty.</h2>
}

<button onclick="chooseFolder()">Import from OS</button>
<input type="file" id="jsonFileInput" accept=".json" />
<button onclick="importFromJson()">Import from JSON</button>

<script>
    async function chooseFolder() {
        const directoryHandle = await window.showDirectoryPicker();
        const directoryName = directoryHandle.name;

        $.ajax({
            url: '@Url.Action("ImportDirectoryStructure", "Directory")',
            type: 'POST',
            data: { path: directoryName },
            success: function (response) {
                if (response.success) {
                    window.location.href = response.redirectUrl;
                } else {
                    console.log(response.message);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function importFromJson() {
        const input = document.getElementById('jsonFileInput');
        const file = input.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('jsonFile', file);

            $.ajax({
                url: '@Url.Action("ImportFromJson", "Directory")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    } else {
                        console.log(response.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            console.log('No file selected.');
        }
    }
</script>
